.login-wrapper {
	width: 350px;
	margin: auto;
	position: absolute;
	top: 20%;
	left: 38%;
}

.logo {
	text-align: center;
	margin-bottom: 10px;
}

.login-header {
	min-height: 16.43px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
}

.well-white {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: #D1E6E7 !important;
	-webkit-font-smoothing: antialiased;
}

.table-header {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9F9F9),
		color-stop(0.5, #E5E5E5));
	background-image: -o-linear-gradient(bottom, #F9F9F9 0%, #E5E5E5 50%);
	background-image: -moz-linear-gradient(bottom, #F9F9F9 0%, #E5E5E5 50%);
	background-image: -webkit-linear-gradient(bottom, #F9F9F9 0%, #E5E5E5 50%);
	background-image: -ms-linear-gradient(bottom, #F9F9F9 0%, #E5E5E5 50%);
	background-image: linear-gradient(to bottom, #F9F9F9 0%, #E5E5E5 50%);
}

.stage-system {
	margin-top: 5px;
	margin-bottom: 5px;
}

.alert-success-transparent {
	width: 35%;
	min-height: 80px;
	margin-left: 35%;
	margin-top: 15%;
	color: #FFF;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
	background-color: #1CB841;
	opacity: 0.7;
	border-color: #d6e9c6;
	position: absolute;
	text-align: center;
	z-index: 1000;
	vertical-align: middle;
}

.tooltip {
	z-index: 100000000 !important;
}

:invalid {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

:focus:invalid {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.modal-header{
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 0px;
}

.popover-content{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    width:350px !important;
    max-width: 350px !important;
}

.popover{
    width: 350px !important;
    max-width: 350px !important;
}


.btn-user{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100% !important;
}

.padding-user{
	padding: 5px;
}

.action-user{
	min-width: 220px;
}

.footer-menu-user{
	padding-top: 8px !important;
	padding-bottom: 0px !important;
	height: 51px !important;
}